<%- include('../partials/html-head') %>
<%- include('../partials/nav.ejs') %> 
<main>
  <h1><%= title %></h1>
  <section>
    <div> <b>Airline:</b> <%= flight.airline %></div> 
    <div><b>Airport:</b> <%= flight.airport %></div>
    <div><b>Flight Number: </b><%= flight.flightNo %></div> 
    <div><b>Departs: </b><%= flight.departs %></div>

    <h1>Add Ticket to Flight</h1>
    <div class="col-md-3">
      <form action="/flights/<%= flight._id %>/tickets" method="POST" id="ticket-form">
          <label for="seat" class="form-label"></label>Seat</label>
          <input type="text" name="seat" placeholder="Must be in A-F and 1-9" required pattern="[A-F][1-9]\d?" class="form-control"><br>
          <label for="price" class="input-label">Price</label>
          <input type="text" name="price" placeholder="Enter # greater than zero" class="form-control">
          <button type="submit" form="ticket-form" class="btn btn-primary">submit</button>
      </form>
    </div>
    <h2>Tickets</h2>
      <% if (flight.tickets.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Date Purchased</th>
            <th>Seat</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(function(ticket) { %>
            <tr>
              <td><%= ticket.createdAt.toLocaleDateString() %></td>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
              <td>
                <form action="/flights/<%= flight._id%>/tickets/<%= ticket._id %>" 
                method="POST" id="ticketDelete">
                  <button type="submit" form="ticketDelete">Delete</button>
                </form>
              <td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h4>No Tickets Yet</h4>
    <% } %>
    <h2>Add Destination</h2>
    <form action="/flights/<%= flight._id %>/destinations" method="POST" id="add-destination">
      <select name="destinationId">
        <% if (destinations.length) { %>
            <% destinations.forEach(destination => { %>
              <option value="<%= destination._id %>"> <%= destination.airport %> </option>
            <% }) %>
          <% } else { %>
              <h4>No Destinations Yet</h4>
            <% } %> 
      </select>
      <button type="submit" form="add-destination">Add</button>
    </form>
    <% if (destinations.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Flight Destinations</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(destination) { %>
            <tr>
              <td><%= destination.airport %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h4>No Destinations Yet</h4>
    <% } %>
</main>
