<%- include('../partials/html-head') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div> <b>Airline:</b> <%= flight.airline %></div> 
    <div><b>Airport:</b> <%= flight.airport %></div>
    <div><b>Flight Number: </b><%= flight.flightNo %></div> 
    <div><b>Departs: </b><%= flight.departs %></div>
</main>
